<div class="row">
	<div class="small-12 columns aBSh">
		<div class="row aBR p10">
			<div class="small-12 medium-10 columns">
				<input type="text" name="subject" class="aBS aBNI" placeholder="Subject" />
			</div>

			<div class="small-22 medium-2 columns text-right">
				<input type="text" name="cost" class="aBCo aBNI" placeholder="0" />
			</div>
		</div>

		<div class="row ph10">
			<div class="small-12 medium-2 columns f12 bdr nA">
				<i class="fi-clock"></i> 
				<span class="aBD g">Today</span>
			</div>
			<div class="small-12 medium-2 columns f12 bdr nA">
				<i class="fi-folder"></i> 
				<span class="g">Category</span>
			</div>
			<div class="small-12 medium-8 columns f12 nA">
				<div class="left">
					<i class="fi-pricetag-multiple"></i>
					<span class="g">Tags</span>
				</div>

				<div class="right bdl aBCuC nA">
					<i class="fi-ticket"></i> 
					<span class="aBCu g">EUR</span>
				</div>
			</div>
				
		</div>
	</div>
</div>

<div class="row">
	<div class="small-2 small-offset-10">
		<a href="#" class="button expand aBSB"><i class="fi-plus"></i> Add</a>
	</div>
</div>

