<div class="row">
	<form>
		<div class="small-12 columns">
		  	<input type="text" id="subject-input" class="no-border-no-padding" placeholder="Subject">
		</div>
		<div class="small-12 columns">
		  	<input type="text" id="cost-input" class="no-border-no-padding" placeholder="0">
		</div>
		<div class="small-12 columns">
		  	<button type="submit" class="button expand large">
		  		<i class="fi-plus"></i> Add
		  	</button>
		</div>
	</form>
</div>

