
<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<form>

			<div class="row">
				<div class="col-xs-12">
				  	<input type="text" id="subject-input" class="form-control" placeholder="Subject">
				</div>
			</div>

			<div class="row form-group">
				<div class="col-xs-12 col-sm-4">
				  	<input type="text" id="cost-input" class="form-control" placeholder="0" autocomplete="off">
				</div>

				<div class="col-xs-12 col-sm-8">
					<div class="btn-group btn-block category-select-container">
					  <button type="button" class="btn btn-default btn-sm btn-block dropdown-toggle" data-toggle="dropdown">
					    Category <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu" role="menu">
					    <li class="divider"></li>
					    <li><a href="#">Manage Categories</a></li>
					  </ul>
					</div>
				</div>

			</div>

			<div class="row">
				<div class="col-xs-12">
				  	<button type="submit" class="btn btn-primary btn-lg btn-block">
				  		<span class="glyphicon glyphicon-plus"></span> Add
				  	</button>
				</div>
			</div>

		</form>
	</div>
</div>
